body {
  font-family: Arial;
  text-align: center;
  background: #f2f2f2;
}

select, input, button {
  padding: 10px;
  margin: 10px;
}

img {
  margin-top: 20px;
  border-radius: 10px;
}
#simulador {
  width: 300px;
  height: 300px;
  margin: 20px auto;
  border: 2px solid #ccc;

  background-size: 100px 100px;
  background-repeat: repeat;
}
